/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2016, 14:30:26
    Author     : admin
*/

.menu, .titre, .contenue{
    text-align: center;
}

.titre{
    font-size: 35px;
    
}

.menu{
    font-size: 20px;
    color: green;
    background-color: orange;
    border-radius: 30px;
}

.contenue{
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    font-family: monospace;
    
}

.pied{
    
    font-weight: lighter;
    font-size: small;
    color: darkmagenta;
    
    position: fixed;
    right: 0;
    bottom: 0;
}

